{% extends "base.html" %}

{% block content %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/app_status.css' %}">

<section name="input-list" id="input-list">
    <div class="container">
        <form id="form" method="POST" action="{% url 'app_status:add_status' %}" >
            <h2>Update Status</h2>
            {% csrf_token %}
            {{ message_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Post">
        </form>
    </div>
</section>
<section name = "my-status" id="my-status">
    {% for data in status %}
        <div class="flex-item" style="padding: 10px" id="statuses">
            <div  id = "name">
                <img src="https://image.freepik.com/free-vector/vector-illustration-cosmonaut_1441-11.jpg" id="circular-image">
                <strong>{{author}}</strong>
            </div>

            <div  id = "msg">
                {{data.message}}
            </div>

            <div  id = "time">
                Posted on {{ data.created_date }}
            </div>
        </div>

        <div id="space">
            {{ " " }}
        </div>
    {% endfor %}
</section>
{% endblock %}
