.main-title{
  text-align: center;
  font-family: 'Quicksand';
  font-size: 40px;
  font-weight: bolder;
  color: white;
}

#profile {
  width: 800px;
  margin: 20px auto;
  text-align: left;
  background: #778899;
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  padding: 20px 10px;
  box-sizing: border-box;
  position: relative;
}

#parent-tab {
  text-align: center;
  margin-bottom: 30px;
}


.img-circle{
  margin-top: 50px;
  text-align: center;
  border: 3px solid black;
  border-radius: 50%;
}

.name{
  text-align: center;
  font-family: 'Quicksand';
  font-size: 36px;
  margin-top: 35px;
}

.profile-table{
  font-family: 'Mukta';
  margin: auto;
  margin-left: 15%;
  margin-top: 40px;
}

.subject{
  width:40%;
  text-align: left;
  font-family: 'Quicksand';
  font-size: 20px;
  font-weight: bold;
  padding-left: 13px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.value{
  width:40%;
  text-align: left;
  font-family: 'Quicksand';
  font-size: 20px;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.value-exp{
  text-align: left;
  font-family: 'Quicksand';
  font-size: 20px;
  padding-left: 50px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.badge{
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  position: relative;
  vertical-align: middle;
  text-align: center;
  background-color: #2F4F4F;
  color: white;
  font-family: 'Mukta';
  font-size: 18px;
  padding-right: 20px;
  padding-bottom: 10px;
  line-height: 1;
  font-weight: 500;
  border-radius: 10px;
  white-space: nowrap;
}

.badge:hover{
  background-color: #FFA07A;
}

@media only screen and (max-width: 500px) {
  #profile {
    width: 100%;
    margin: 20px auto;
    text-align: left;
    background: #778899;
    position: relative;
    z-index: 1;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    padding: 20px 10px;
    box-sizing: border-box;
    position: relative;
  }

  .profile-table {
    table-layout: fixed;
    width: 100%;
    font-family: 'Mukta';
    margin: auto;
    margin-top: 40px;
  }

  td {
    word-wrap: break-word;
  }
}
